{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eufo pipefail

# AWS Amplify Install
curl -sL https://aws-amplify.github.io/amplify-cli/install | bash && $SHELL

{{ $brews := list
"cdktf"
"gh"
"node@14"
"node@16"
"aws-vault"
"bitwarden-cli"
"deno"
"exercism"
"fswatch"
"fzf"
"git"
"stow"
"helm"
"leela-zero"
"nginx"
"terraform"
"vault"
"yarn"
"tldr"
"bat"
"gcc"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
{{ end -}}
