{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> $HOME/.bashrc
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
. $HOME/.bashrc


# aws CLI v2 Install

curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
sudo ./aws/install

# aws Amplify Install
curl -sL https://aws-amplify.github.io/amplify-cli/install | zsh && $SHELL

{{ $brews := list
"cdktf"
"gh"
"zsh"
"node@14"
"node@16"
"aws-vault"
"deno"
"docker"
"docker-compose"
"exercism"
"fswatch"
"fzf"
"git"
"stow"
"helm"
"kubernetes-cli"
"leela-zero"
"nginx"
"python"
"terraform"
"vault"
"yarn"
"tldr"
"bat"
"gcc"
-}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
{{ end -}}
