{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt update -y
sudo apt upgrade -y
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
sudo apt-get install build-essential
{{ end -}}
