{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
"gh"
"zsh"
"node@14"
"node@16"
"node@17"
"aws-vault"
"bitwarden-cli"
"deno"
"docker"
"docker-compose"
"exercism"
"fswatch"
"fzf"
"git"
"stow"
"helm"
"kubernetes-cli"
"leela-zero"
"nginx"
"postgresql"
"python"
"terraform"
"vault"
"yarn"
"tldr"
"bat"
"gcc" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
EOF
{{ end -}}
